!!!5
%html
  %head
    %title= settings.site_title
    %link{:rel => 'stylesheet', :href => '/js/rainbow/themes/github.css'}
    %link{:rel => 'stylesheet', :href => '/css/api.css'}
    %style
      :sass
        .loader
          clear: both

  %body
    #main.wrap

      #header.cf
        %h1 
          %a{ :href => @github }= settings.site_title
        %a#github{ :href => @github } Github
        #key
          %label{ :for => 'z_key' }
            Your Key
            %input{ :name => 'z_key', :value => @z_key }


      #begin.cf
        :markdown
          Setup 
          -----
          #{settings.site_title} is a [Zillow API](http://www.zillow.com/howto/api/APIOverview.htm) 
          implementation written in [Ruby](http://ruby-lang.org/)
          designed to self document in this [Sinatra](http://www.sinatrarb.com/) app.
          To use some of the samples below, request a 
          [Zillow Api Key](http://www.zillow.com/webservice/APIUpgradeRequest.htm), 
          paste it in the "Your Key" input above and
          then instantiate a basic `Zirrow` object:

        %pre
          %code{ 'data-language' => 'ruby' }= "require './Zirrow'\n@z = Zirrow.new :key => 'Your Key'"
        
          
      %h2.cf Methods 
      #apis.cf
        %img.loader{ :src => '/i/loader.gif', :style => 'display: block; margin: 0 auto 20px;'}


    %script{ :src => "//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js" }
    %script{ :src => "/js/rainbow/js/rainbow.min.js" }
    %script{ :src => "/js/rainbow/js/language/ruby.js" }
    %script{ :src => "/js/rainbow/js/language/javascript.js" }
    %script{ :src => "/js/list.min.js" }
    %script{ :src => "/js/api.js" }
