html, body {
  background-color: #eeeeee;
  margin: 0;
  padding: 0; }

.cf:before, .cf:after {
  content: " ";
  display: table; }
.cf:after {
  clear: both; }

.wrap {
  background-color: #f8f8f8;
  border: 1px solid #cccccc;
  margin: 20px auto;
  padding: 20px;
  width: 800px;
  border-radius: 3px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.api {
  display: block;
  list-style: none;
  clear: both; }

h1 {
  margin: 0 0 10px;
  float: left; }
  h1 a {
    color: #344e8f;
    text-decoration: none; }

p {
  color: #555555;
  text-shadow: 0 1px 0 white; }

a {
  color: #3366bb; }

pre {
  border-radius: 3px;
  max-height: 500px;
  overflow: auto; }

code {
  overflow: auto; }

#header {
  border-bottom: 1px solid #eeeeee;
  padding-bottom: 10px;
  position: relative; }

#key {
  float: right;
  margin-top: 5px; }

#search {
  float: right;
  margin-top: 20px; }

label {
  color: #aaaaaa; }

input {
  padding: 5px;
  margin-left: 5px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.15);
  width: 250px; }

#begin {
  border-bottom: 1px solid #eeeeee; }

#github {
  position: absolute;
  left: 113px;
  top: 13px;
  color: #aaaaaa; }

h2 {
  color: #aaaaaa; }
  h2.cf {
    float: left; }

.hideable {
  position: relative;
  display: none; }

.hide {
  background-color: #eeeeee;
  border-radius: 3px;
  border: 1px solid #cccccc;
  color: #555555;
  cursor: pointer;
  font-family: sans-serif;
  font-size: 1.5em;
  height: 30px;
  position: absolute;
  right: -15px;
  text-align: center;
  text-shadow: 0 1px 0 white;
  top: -15px;
  width: 30px; }

.source {
  height: 19px;
  overflow: hidden;
  cursor: pointer;
  font-size: 0.75em;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  opacity: 0.3; }
  .source.opened {
    cursor: normal;
    height: auto;
    overflow: auto;
    opacity: 1; }

ul, li {
  margin: 0;
  padding: 0; }

.implementation {
  position: relative; }

.run {
  position: absolute;
  right: -96px;
  bottom: 1px;
  font-size: 1em;
  padding: 7px 15px;
  background-color: #3366bb;
  color: white;
  border-radius: 0 3px 3px 0;
  display: block;
  width: 46px;
  text-decoration: none;
  cursor: pointer;
  font-family: sans-serif;
  font-weight: bold;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.2); }

.loader {
  clear: both; }

.terminal {
  clear: both; }

#apis {
  position: relative; }

#termtoggle {
  position: absolute;
  top: 27px;
  left: 110px;
  cursor: pointer;
  color: #aaaaaa;
  text-decoration: underline; }

p {
  line-height: 1.4em; }

.api h2 {
  clear: both; }

#top {
  font-weight: bold;
  display: block;
  text-align: center;
  margin-top: 20px;
  border: 1px solid #eeeeee;
  padding: 8px 0;
  cursor: pointer;
  background-color: #f8f8f8; }
